<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite data-provider-thread-count="1" name="Tests">
    <listeners>
        <listener class-name="config.listeners.TestListener"/>
        <listener class-name="config.listeners.ExtentReportConfiguration"/>
    </listeners>

    <test allow-return-values="true" name="Test">

        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[groups.containsKey(System.getProperty("group"));]]>
                </script>
            </method-selector>
        </method-selectors>

        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.CheckoutTests"/>
            <class name="tests.GridTests"/>
            <class name="tests.SearchTests"/>
        </classes>
    </test>
</suite>
